extends layout
block content
  h1= title
  p Welcome to #{title}

  table
    tr
      td
        a(href='/') Home
      td
        a(href='/users') Users

  h2 Sign In

  p
    a(href='/auth/twitter') Sign in with Twitter
  p
    a(href='/auth/facebook') Sign in with Facebook
  p
    a(href='/auth/google') Sign in with Google


  p Sign in with Local
  p
    form(action='/auth/login', method='POST')
      table
        tr
          td UserName
          td
            input(type='text', name='username')
        tr
          td Password
          td
            input(type='password', name='password')
      input(type='submit')
